@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	color: white;
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
html,
body {
	height: 100%;
	background: rgb(95, 95, 95);
	line-height: 1;
	font-size: 14px;
	color: #072659;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
p,
h1 {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
::-webkit-scrollbar {
	width: 0;
}
button {
	outline: none;
	/*Дополнительный сброс стилей для мобильной версии*/
	-webkit-tap-highlight-color: transparent; /* Устанавливаем цвет подсветки при касании */
	-webkit-touch-callout: none; /* Отключаем меню долгого нажатия на кнопке */
	-webkit-user-select: none; /* Запрещаем выделение текста */
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input {
	outline: none;
}
th,
td {
	padding: 0;
}
table {
	border-collapse: separate;
	text-indent: initial;
	border-spacing: 0;
}
&::-webkit-scrollbar {
	width: 5px;
	height: 7px;
}

&::-webkit-scrollbar-track {
	-webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
	background-color: #0505e2;
	border-radius: 10px;
}

&::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #73729f;
}
